/* -------------------------------------------------------
              Base Element styles
----------------------------------------------------------*/
* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  color: rgb(57, 57, 57);
}

h1, h2, h3, h4, h5, li {
  font-family: 'Oswald', sans-serif;
}

h2 {
  margin: 0;
}

body {
  text-align: center;
}

a:after {
  color: grey;
}

p {
  color: rgb(69, 66, 67);
  line-height: 1.7em;
  font-family: 'Lato', sans-serif;
}

/* -------------------------------------------------------
              Base Layout styles
----------------------------------------------------------*/
.wrapper {
  background-color: #EFBC63;

}

.max-stretch {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  background-color: white;
  padding-top: 0;

}

.secondary-container {
  background-color: white;
  border: rgb(244, 240, 240);
  margin-top: 15px;
}


.main-header {
  background-color: #EFBC63;
  padding-top: 1px;
  width: 100%;
  margin: 0 auto;
}

.main-footer {
  background-color: #EFBC63;
  width: 100%;
  margin: 0 auto;
}

.secondary-container p {
  padding-left: 2em;
  padding-right: 2em;
}

.content-img {
  width: 90%;
  padding-top: 3em;
}
.name {
  font-size: 2.5em;
}

.main-header p {
  padding: 15px;
}

.main-nav {
  color: #171717;
}


.main-nav li {
  background-color: white;
  width: 100%;
  font-size: 1.5em;
  
}

.prof-img {
  width: 70%;
  padding-right: 15px;
}

.bot-nav li {
  display: none;
}

.bot-name {
  float: left;
  display: inline;
}

.top-button {
  float: right;
  display: inline;
}

.bot-banner {
  width: 92%;
  margin: 0 auto;
  border-top-style: solid;
  border-color: rgb(193, 192, 192);
  border-radius: .2px;
}

.main-footer p {
  margin: 10px 25px 10px 25px;
}

.contact-info p {
  line-height: 2em;
  font-size: 1.2em;
}

/* -------------------------------------------------------
              Media Queries
----------------------------------------------------------*/
@media (min-width: 768px) {
  .prof-img {
    float: right;
    width: 50%;
    margin-left: 45px;
    padding-bottom: 35px;
    padding-right: 15px;
  }
  .name,
  .main-nav ul {
    display: inline;
  }

  .name {
    float: left;
  }

  .main-nav {
    float: right;
  }
  .main-nav ul {

  }
  .main-nav li {
    padding: 0;
    display: inline;
  }

  .main-nav a {
    padding: 0;

  }
  .main-header p {
    text-align: left;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 15px;
    letter-spacing: 1.2px;
    font-size: 1.1em;
  }

  .col1 {
    width: 50%;
    float: left;
  }

  .col1 p {
    padding-left: 2em;
    padding-right: 2em;
  }

  .col2 {
    width: 50%;
    float: left;
  }

  .col2 p {
    padding-left: 2em;
    padding-right: 2em;
  }

  .bot-banner {
    width: 92%;
    margin: 0 auto;
    border-top-style: solid;
    border-color: rgb(193, 192, 192);
    border-radius: .2px;
  }


  .main-footer p {
    padding: 15px 3em 15px 3em;
  }

  .top-button {
    display: none;
  }

  .bot-name,
  .bot-nav ul {
    display: inline-block;
  }

  .bot-name {
    float: left;
  }

  .bot-nav {
    float: right;
  }

  .bot-nav li {
    padding: 15px;
    display: inline;
  }
}

@media (min-width: 1024px) {
  .main-header {
    padding-right: 1em;
    padding-bottom: 2em;
  }

  .main-header p {
    width: 40%;
    padding-top: 4em;
  }

  .row1 {
    float: left;
    width: 33.3%;
    padding-bottom: 0;
  }

  .row2 {
    float: left;
    width: 33.3%;
  }

  .prof-img {
    margin-top: 45px;
    float: right;
    width: 50%;
    padding-right: 15px;
  }
}

/* -------------------------------------------------------
              clearfix
----------------------------------------------------------*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
