/* -------------------------------------------------------
              Base Element styles
----------------------------------------------------------*/
* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

li {
  color: rgb(57, 57, 57);
}

h1, h2, h3, h4, h5, li {
  font-family: 'Oswald', sans-serif;
}

h2 {
  margin: 0;
}

body {
  text-align: center;
}

a:after {
  color: grey;
}

p {
  color: grey;
  line-height: 1.7em;
  font-family: 'Lato', sans-serif;
}

/* -------------------------------------------------------
              Base Layout styles
----------------------------------------------------------*/
.wrapper {
  background-color: rgb(244, 240, 240);
}

.container {
  background-color: white;
  margin: 35px 15px 0 15px;
  padding-top: 0;
}

.secondary-container {
  margin: 35px 15px 15px 15px;
  background-color: white;
  border: rgb(244, 240, 240);
}

.main-nav {
  color: #171717
}

.main-header {
  background-color: rgb(244, 240, 240);
  padding-top: 1px;
  width: 100%;
  margin: 0 auto;
}

.main-header p {
  text-align: center;
}

.main-footer {
  background-color: rgb(244, 240, 240);
  width: 100%;
  margin: 0 auto;
}

.content-img {
  width: 90%;
  padding-top: 3em;
}

/* -------------------------------------------------------
              Media Queries
----------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 767px) {
  .name {
    font-size: 2.5em;
  }

  .main-nav {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }

  .main-nav li {
    background-color: white;
    font-size: 1.5em;
    padding: 15px;
    margin: 5px 15px 5px 15px;
  }

  .prof-img {
    width: 70%;
  }

  .bot-nav li {
    display: none;
  }

  .bot-name {
    float: left;
    display: inline;
  }

  .top-button {
    float: right;
    display: inline;
  }

  .bot-banner {
    width: 92%;
    margin: 0 auto;
    border-top-style: solid;
    border-color: rgb(193, 192, 192);
    border-radius: .2px;
  }

  .main-footer p {
    margin: 10px 25px 10px 25px;
  }

  .contact-info p {
    line-height: 2em;
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  .prof-img {
    float: right;
    width: 40%;
    margin-left: 45px;
    padding-bottom: 35px;
  }

  .main-nav li {
    display: inline;
    text-align: center;
  }

  .main-header p {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 2px;
    font-size: 1.2em;
  }

  .col1 {
    width: 50%;
    float: left;
  }

  .col1 p {
    padding-left: 2em;
    padding-right: 2em;
  }

  .col2 {
    width: 50%;
    float: left;
  }

  .col2 p {
    padding-left: 2em;
    padding-right: 2em;
  }

  .main-nav li {
    text-align: center;
    padding: 1em;
  }

  .name,
  .main-nav li {
    display: inline;
  }

  .bot-banner {
    width: 92%;
    margin: 0 auto;
    border-top-style: solid;
    border-color: rgb(193, 192, 192);
    border-radius: .2px;
  }

  .name {
    float: left;
    padding-left: 15px;
  }

  .main-nav {
    float: right;
  }

  .top-button {
    display: none;
  }

  .bot-name,
  .bot-nav li {
    display: inline;
  }

  .bot-name {
    float: left;
  }

  .bot-nav {
    float: right;
  }

  .bot-nav li {
    padding: 15px;
  }
}

@media (min-width: 1024px) {


  .main-header {
    padding-right: 1em;
    padding-bottom: 2em;
  }

  .main-header p {
    width: 40%;
  }

  .row1 {
    float: left;
    width: 33.3%;
    padding-bottom: 0;
  }

  .row2 {
    float: left;
    width: 33.3%;
  }

  .prof-img {
    margin-top: 45px;
    float: right;
    width: 30%;
  }
}

/* -------------------------------------------------------
              clearfix
----------------------------------------------------------*/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
