/* -------------------------------------------------------
              Base Element styles
----------------------------------------------------------*/
* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    color: grey;
    text-decoration: none;
    text-transform: uppercase;


}

li {
    color: rgb(57, 57, 57);
}

h2 {
    margin: 0;
}

body {

    text-align: center;

}

a:after {
    color: grey;
}



/* -------------------------------------------------------
              Base Layout styles
----------------------------------------------------------*/

.wrapper {
    background-color: rgb(244, 240, 240);


}

.container {
    background-color: white;
    padding-top: 0;
}

.secondary-container {
    background-color: white;
    border: rgb(244, 240, 240);
    border-style: solid;
    border-top-width: 35px;
}

.main-nav {
    color: #171717
}



.main-header {
    background-color: rgb(244, 240, 240);
    padding-top: 1.5em;
    width: 100%;
    margin: 0 auto;
}

.main-header p {
    text-align: center;

}

.main-footer {
    background-color: rgb(244, 240, 240);
    width: 100%;
    margin: 0 auto;

}

.content-img {
    width: 90%;
    padding-top: 3em;
}


/* -------------------------------------------------------
              Media Queries
----------------------------------------------------------*/
@@media (min-width: 320px) {



}

@media (min-width: 768px) {

    .prof-img {
      float: right;
      width: 40%;
      margin-left: 45px;
      padding-bottom: 35px;
    }

    .main-nav li {
      display: inline;
      text-align: center;

    }

    .main-header p {
      padding-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
      letter-spacing: 2px;
      font-size: 1.2em;

    }

    .col1 {
        width: 50%;
        float: left;
    }

    .col1 p {
        padding-left: 2em;
        padding-right: 2em;

    }

    .col2 {
        width: 50%;
        float: left;
    }

    .col2 p {
        padding-left: 2em;
        padding-right: 2em;
    }
    .main-nav li {
    text-align: center;
    padding: 1em;}

}




@media (min-width: 1025px) {



      .name,
      .main-nav li, {
          display: inline;

      }
      .name {
          float: left;
          padding-left: 15px;
        }

        .main-nav {
          display: inline;
          float: right;

        }
        .main-nav li {
          float: left;
          padding: 25px;
        }

        .container {
            width: 96%;
            margin: 0 auto;
            padding: 35px;

        }

        .secondary-container {
          width: 96%;
          margin: 0 auto;
          padding: 35px;
        }

        .main-header {
            padding-left: 3em;
            padding-right: 1em;
            padding-bottom: 2em;
        }

        .main-header p {
          width: 40%;

        }

        .row1 {
            float: left;
            width: 33.3%;
            padding-bottom: 0;
        }

        .row2 {
            float: left;
            width: 33.3%;
        }

        .prof-img {
            float: right;
            width: 20%;
            margin-left: 45px;            
        }




}



/* -------------------------------------------------------
              clearfix
----------------------------------------------------------*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
